html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.6;
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}
